body{
    background-color: rgba(20, 20, 182, 0.685);
}

    h1{color: rgba(0, 0, 0, 0.767);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    p{color: aliceblue;font-size: 25px;
    font-family: 'Times New Roman', Times, serif;}